.git
.github
__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.venv
venv
tests
*.db
*.sqlite3
.env
uploads/*
!uploads/__init__.py
assets/logos/*
assets/products/*
!assets/logos/.gitkeep
!assets/products/.gitkeep
